body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Handjet", cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;500;600;700&display=swap");
